<div>
    <div class='gallary-list'>
        <span  *ngFor="let image of visibleImages">
            <!-- <li *ngFor="let image of (visibleImages | imageFilter:filterBy)" > -->
                <a [routerLink] ="['/image', image.id]">
                    <img src="{{image.url}}" loading="lazy">
                </a>
            <!-- </li> -->
        </span>

        <!--  Adding an empty <span> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <span></span>
    </div>
</div>