<div class="">
  <div class="canvas">
    <div class="headerWrapper">
      <header class="header">
        <div class="logo">
          <h1 class="logo-image">
            <a href="index.html">
              <img
                src="http://static1.squarespace.com/static/57122b3140261dc8badfe6b7/t/57cea1188419c2fd01b05364/1529315043357/?format=750w"
                alt="ALTAIR" />
            </a>
          </h1>
          <div class="logo-subtitle">Event-design Decor Rentals</div>
        </div>
        <div class="navbar" style="float:right">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about"
                aria-selected="false">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Contact</a>
            </li>
          </ul>
        </div>
        <!-- <div class="backToThumbs">&times;</div> -->
      </header>
    </div>
    <div class="pageWrapper">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <app-gallary-form></app-gallary-form>
        </div>
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
          <app-about-form></app-about-form>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <app-contact-form></app-contact-form>
        </div>
      </div>
      <div class="mainContent">

      </div>
    </div>
    <div class="footerWrapper">
      <section id="footer">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-black">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <p class="h6">Akshar Chaklashiya.</p>
        </div>
      </section>
    </div>
  </div>
</div>