<div class='row'>
    <div class="col-lg-6 col-md-6">
        <div style="padding: 0px">

            <h1 style="white-space:pre-wrap;">ABOUT US</h1>

            <p class="" style="white-space:pre-wrap;">Altair is a bespoke event design company based in Mumbai,
                with operations all over India and overseasas. Our events include weddings &amp; functions &amp;
                luxury brand events.</p>
            <p class="" style="white-space:pre-wrap;">Our mission is to enhance self-expression, and to curate
                thoughtful events that our clients will treasure. Contemporary India and Minimalism is our
                playground.</p>
            <p class="" style="white-space:pre-wrap;">We strongly believe that space design is imperative to
                creating a vibe that sets the stage for a memorable experience. It is with principle that we
                approach our designs - delicately creating a setting that contributes to the goals of the event
                without distracting from it. </p>
            <p class="" style="white-space:pre-wrap;">Our design process is where the rubber meets the road. We
                get to the heart of who our clients are and translate that into an experience true to our
                clients'&nbsp;core. We start by developing a list of values that are important to the goals of the
                celebration and create a concept to implement the design,&nbsp;drawing up inspiration boards that
                guide the planning process, maintaining focus and ensuring every piece is on track. From the
                storyboard, we establish a blueprint for everything, including the space design, lighting,
                specifications of floral,&nbsp;textile and centerpiece designs used throughout the space. Each one
                of our designs is custom tailored for our clients, so the experience of your event is as unique as
                you are.</p>
            <p class="" style="white-space:pre-wrap;">We love little things, making them prettier,&nbsp;and the
                unexpected pops of wit and whimsy that give our events life. Our journey is fluid and open ended,
                with a core belief that elegant space design is the cornerstone of a beautifully executed event.</p>
            <p class="" style="white-space:pre-wrap;">We at Altair are a dedicated team of experienced
                professionals and specialists at using design as a potent tool, committed to creating unique designs
                and seeing them through from concept to reality.&nbsp;This is why, as part of our process, we take
                inordinate amounts of effort to understand the vision and desires of our clients in order to
                accurately portray them.</p>
            <p class="" style="white-space:pre-wrap;">Our collaborative spirit allows us the opportunity to work
                with your planner or event manager as part of your creative team. Design is our passion, and we are
                honored to combine forces with your lead planner to make your dream a reality.&nbsp;</p>

        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <span>
            <img src='https://wallpapershome.com/images/pages/pic_v/20236.jpg' alt="No need to give" loading="lazy">
        </span>
    </div>
</div>